<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DM_AP_POC.Properties.Settings.TestADB" connectionString="Data Source=SD-KP-TSASUP01.CFNP.LOCAL\KP;Initial Catalog=CommonFormulary;Persist Security Info=True;User ID=CommonFormularyAppUser;Password=CommonFormularyAppUser" />
    </connectionStrings>
</configuration>